html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    margin: 0 auto;

}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    display: flex;
    align-items: center;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    padding: 10px 20px 0px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu a:hover {
    color: #007bff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    min-height: 150px;
}
.header img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}
.content {
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    font-size: small;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}



label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.contact-info p {
    margin: 10px 0;
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporção 16:9 */
    overflow: hidden;
    border-radius: 10px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}
.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 10px;
}

.footer li:last-child {
    margin-right: 0;
}

.footer a {
    color: #666;
    text-decoration: none;
}

.footer a:hover {
    color: #000;
}